// Add any custom Sass & CSS here
.landing{
  width:100%;
  margin: 0 auto;
  font-family: $text;

  .button{
    border-radius: 3px;
    background-color: #d95552;
  }


  #landing-main{
    position: relative;
    border: 10px;
    height: 650px;
    text-align: center;
    background-image: url("../media/road.JPG");
    background-size: cover;

    @include breakpoint(small down){
      height: 400px;
    }
    #tri{
      @include breakpoint(small down){
        position: relative;
        top: -100px;
      }
    }
    .pic{
      display: none;
    }
    center{
      width: inherit;
      text-align: right;
      font-size: $size-big;
      color: black;
      z-index: 100;

    }
    h4{
      width: inherit;
      font-family: $font-head;
      position: relative;

      font-size: 80px;
      color: white;
      z-index: 100;
      transform: translateY(150%);

      @include breakpoint(medium down){
        font-size: 60px;
        transform: translateY(100%);

      }
      @include breakpoint(small down){
        font-size: 40px;
        transform: translateY(120%);

      }


    }

    #main-btn{
      margin-top: 300px;
      width: inherit;
      text-align: center;
      font-family: $font-head;
      position: relative;
      font-size: $size-mid;
      color: white;
      z-index: 100;
      //transform: translateY(250%);
      span {
        input {
          width: 40%;
          height: 45px;
          border-radius: 7px;
          //transform: translateY(400%);
        }
        .button {
          background-color: $red;
          box-shadow: 0 0 7px 0 rgba(0, 0, 0, .13);
          border-radius: 200px;
          position: relative;
          transform: translateY(13%);
        }
        .button:hover {
          background-color: #C6514B;
        }
      }
      @include breakpoint(medium down) {
        font-size: 45px;
        //transform: translateY(380%);
        top: 0;
      }
      @include breakpoint(small down) {
        font-size: 25px;
        //transform: translateY(300%);
        top: 0;
      }
    }

  }


  .transition {
    left: 0;
    margin-left: 50%;
    position: absolute;
    -webkit-transform: translate3d(-50%,0,0);
    z-index: 2;

    .btn {
      hover { transform: scale(1.1); }
      background-color: #FFF;
      display: block;
      width: 52px;
      height: 52px;
      -webkit-transition: fill .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out;
      -o-transition: fill .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out;
      transition: fill .3s ease-in-out, transform .3s ease-in-out, color .3s ease-in-out;
      border-radius: 50%;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, .13);
      margin: -26px auto;
      text-align: center;
      i{
        font-size: 30px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        color:$offblack;
      }
    }
    .btn:hover {
      transform: scale(1.1);
      i{
        color:$pink;
      }

    }
  }

}

