<div class="main-page" ng-controller='MainController'>
    <button class="accountLink">My Account</button>
    <!--<header>
        <button class='del button' ng-click="getSpots('New York','')"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </header>-->

    <div id="searchBtnWrapper">
        <button class="button" id="searchHotelBtn" ng-click="searchHotels($event)">Starting searching for the best hotels!</button>
    </div>

    <div class= "main-body">
        <h4 style="text-align: center" >


        </h4>
        <div class="row">

            <div class="myList large-3 columns">
                <h3>Suggested Spots</h3>
                <ul class="accordion hotelsList" data-accordion role="tablist" data-multiple-opened="false" data-allow-all-closed="true">
                    <li class="list-item no-bullet" ng-repeat="spot in spots track by $index">
                        <div id ="geo{{spot.geoname_id}}">
                            <span><a href="" role="tab" class="accordion-title" >
                                <h5>{{spot.title}}</h5>
                            </a>
                                <input type="checkbox" ng-model="spot.selected" class="spotsCheckbox">
                                </span>

                            <div  class="accordion-content" role="tabpanel" data-tab-content >

                            </div>
                        </div>

                    </li>
                </ul>
            </div>
            <div class="large-6 columns" id="map">

            </div>

            <div class="myList large-3 columns">
                <h3>Hotels</h3>
                <ul class="accordion hotelsList" data-accordion role="tablist" data-multiple-opened="false" data-allow-all-closed="true">
                    <li class="accordion-item" ng-repeat="hotel in hotels track by $index">
                        <div id ="geo{{hotel.details.property_name}}" >
                        <a href="" role="tab" class="accordion-title" >
                            <h5>{{hotel.details.property_name}}</h5>
                            <h6>Near {{hotel.count}} of your selected destinations!</h6>
                        </a>
                        <div  class="accordion-content" role="tabpanel" data-tab-content >
                            questions.answer
                        </div>
                        </div>

                    </li>
                </ul>
            </div>
        </div>

        <!--<input id="search" ng-model="text" spellcheck="false" maxlength="64" ng-enter="search()">-->


    </div>

</div>