<div class="landing" ng-controller='SettingsController'>
    <header>

    </header>

    <div id = "section_1">
        <div id="tri"></div>
        <div class="greet" id="trigger1">
            <h1 style="text-align: center" >Welcome


            </h1>

            <p id="main-btn" >
                <span>
                <a class="button" href="#/main">Get started</a>
                <a id = "scroll" class="button">Read more</a>

                </span>
            </p>


        </div>

    </div>
    <div class="transition">
        <div class="btn" id = "scroll_"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
    </div>
</div>