<div class="landing" ng-controller='SettingsController'>
    <header>

    </header>

    <div id = "landing-main">
        <h4 style="text-align: center" >Where is your destination


        </h4>
        <!--<input id="search" ng-model="text" spellcheck="false" maxlength="64" ng-enter="search()">-->
        <div id="main-btn" >

            <span>
            <input id="search" ng-model="text" spellcheck="false" maxlength="64" ng-enter="search()">
                <a class="button" href="#/main">Get started</a>
            <!--<a class="button" href="#/main">Get started</a>
            <a id = "scroll" class="button">Read more</a>-->

            </span>
        </div>


    </div>
    <div class="transition">
        <div class="btn" id = "scroll_"><i class="fa fa-angle-double-down" aria-hidden="true"></i></div>
    </div>
</div>